  <uitk-footer>
    <li
        uitk-footer-item
        label="Optum.com"
        url="https://www.optum.com/"
        targetWindow="_blank"
        linkInfoForReader="Opens in a new window"
        footer-link></li>
    <li
        uitk-footer-item
        label="Terms of use"
        url="https://www.optum.com/terms-of-use.html"
        targetWindow="_blank"
        linkInfoForReader="Opens in a new window"
        footer-link></li>

    <li uitk-footer-item label="Accessibility" url="https://www.optum.com/accessibility.html" footer-link></li>
    <uitk-footer-disclaimer footer-text>{{ myFooterText }}</uitk-footer-disclaimer>
</uitk-footer>